* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--global-bg-color);
  min-width: var(--container-min-width);
  font-family: var(--ff-description);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.asset-wine{
 /*    width: 120px; */
}



@media (min-width: 1024px) {
  .global-wrap {
   /*  max-width: var(--container-max-width); */
    /* margin: 0 auto; */
  }
}
