* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: var(--global-bg-color);
  min-width: var(--container-min-width);
  font-family: var(--ff-description);
  overflow-x: hidden;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.global-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title__main {
  font-family: var(--ff-title);
  font-weight: normal;
  font-size: 16px;
  color: var(--title-color);
}
.heading__main {
  font-family: var(--ff-heading);
  font-size: 28px;
  font-weight: normal;
}
.description__main {
  font-family: var(--ff-description);
  font-weight: normal;
  font-size: 18px;

  line-height: 150%;
}

.desc__color--other {
  color: var(--description-color-other);
}
.btn-orng {
  display: flex;
  min-width: 125px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--shop-button-bg);
  font-family: var(--ff-description);
  font-weight: 700;
  font-size: 16.5px;
  transition: 0.5s;
  border-radius: 1px;
  cursor: pointer;
}
.btn-orng:hover {
  background-color: #a34c21;
  transition: 0.5s;
}
.btn-white {
  display: flex;
  min-width: 125px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  font-family: var(--ff-description);
  font-weight: 700;
  font-size: 16.5px;
  border: 2px solid #fff;
  transition: 0.5s;
  border-radius: 1px;
  cursor: pointer;
}

.btn-white:hover {
  background-color: #ffffff;
  transition: 0.5s;
  color: black;
}
.glb__a--hover:hover{
  color: #c8693a;
  transition: 0.5s;
}
.glb__a-more--hover:hover{
  text-decoration: underline;
  transition: 0.5s;
  
}