* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: var(--global-bg-color);
  min-width: var(--container-min-width);
  font-family: var(--ff-description);
  overflow-x: hidden;
  
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.asset-wine{
 /*    width: 120px; */
}
.global-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


@media (min-width: 1024px) {
  .global-wrap {
   /*  max-width: var(--container-max-width); */
    /* margin: 0 auto; */
  }
}

.title__main{
 font-family: var(--ff-title);
 font-weight: normal;
 font-size: 16px;
 color: var(--title-color);

}
.heading__main{
font-family: var(--ff-heading);
font-size: 28px;
font-weight: normal;
}
.description__main{
  font-family: var(--ff-description);
  font-weight: normal;
  font-size: 18px;

  line-height: 150%;
}

.desc__color--other{
  color: var(--description-color-other);
}