:root {
  --bg-mobile-menu: #1a1512;
  --global-bg-color: #261e1c;

  --social-svg-border: #c8693a;
  --social-svg-logo: #c8693a;
  --social-svg-bg: #fff;

  --container-max-width: 960px;
  --container-min-width: 330px;
  --title-color: #c8693a;
  --description-color-other:rgb(137, 128, 130);
  --shop-button-bg: #c8693a;
  --ff-title: "Great Vibes", sans-serif;
  --ff-heading: "Prata", sans-serif;
  --ff-description: "Rubik", sans-serif;
}

@media (min-width: 1024px) {
  :root {
    --container-max-width: 1600px;
    --container-min-width: 330px;
    --global-bg-color: #80bdb1;
  }
}
