<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Team Project</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/style.css" />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div
      data-hx-trigger="load"
      data-hx-swap="innerHTML"
      data-hx-get="global.age-confirm.html"
    ></div>
    <div class="global-wrap">
      <header
        class="header"
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="global.header-nav.html"
      ></header>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.header-banner.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.wine-types.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.wine-benefits.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.discover-wines.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.best-deals.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.shop-history.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.traditional-wine.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.craft-wines.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.video-history.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.wine-categories.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.promo-discount.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.awards-wines.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.testimonials.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.blog.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.faq.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.shop-benefits.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.subscribe.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="global.footer.html"
      ></div>
    </div>
    <script src="./js/assets/age-confirm.js" defer></script>
    <!--  <script src="" async defer></script> -->
  </body>
</html>
