.footer {
}
.footer__top {
}
.footer__wrap {
}
.footer__contact {
}
.footer__heading {
}
.footer__email {
}
.footer__phone {
}
.footer__adress {
}
.footer_list-ico {

}
.footer__item-ico {
        width: 24px;
    height: 24px;
}
.footer__information {
}
.footer__item {
}
.footer__shop {
}
.footer__instagram {
}
.footer__list-media {
}
.footer_media-link {
}
.footer__img {
    width: 60px;
}
.footer__bottom {
}
.footer__copyright {
}
.footer__arr {
}
