.header-banner {
  background-image: url("../../img/components/index.header-banner/header-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  height: 850px;
}
.header-banner__box {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.header-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  margin: 0 10%;
  padding-top: 120px;
  padding-left: 40px;
  color: #fff;
  @nest .asset-wine {
    width: 80px;
    height: 80px;
  }
}
.header-banner__title {
  font-family: var(--ff-title);

  color: var(--title-color);
}
.header-banner__heading {
  word-wrap: break-word;
  font-family: var(--ff-heading);
  font-size: 64px;
  width: 380px;
  font-weight: normal;
}
.header-banner__description {
  font-size: 18px;
  padding: 40px 0;
}
.header-banner__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (min-width: 1024px) {
  .header-banner {
    height: 975px;
  }

  .header-banner__heading {
    width: 700px;
  }
}
