.blog {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding-bottom: 80px;
}
.blog_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* text-align: center; */
  margin: 0 10%;
}
.blog__title {
  font-family: var(--ff-title);
  font-weight: normal;
  font-size: 20px;
  color: var(--title-color);
}
.blog__heading {
  font-family: var(--ff-heading);
  font-size: 50px;
  font-weight: normal;
}

.blog__description {
  font-family: var(--ff-description);
  font-weight: normal;
  font-size: 20px;
}
.blog__posts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.blog__post-item {
  display: flex;
  align-items: start;
  
}
.blog__post-link {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  max-width: 450px;
}
.blog__post-img {
    width: 100%;
    
}
.blog__post-heading {
  font-family: var(--ff-heading);
  font-size: 18px;
  font-weight: normal;
}
.blog__post-desc {
  font-family: var(--ff-description);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
@media (min-width:1024px){
    .blog {
}
.blog_content {
  margin: 0;
}
.blog__title {
}
.blog__heading {
}
.asset-wine {
}
.blog__description {
}
.blog__posts-list {
    display: flex;
    flex-direction: row;
}
.blog__post-item {
}
.blog__post-link {
}
.blog__post-img {
}
.blog__post-heading {
}
.blog__post-desc {
}

}