.faq {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.faq__main {
}
.faq__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 10%;
}
.faq__title {
  font-family: var(--ff-title);
  font-weight: normal;
  font-size: 16px;
  color: var(--title-color);
}
.faq__heading {
  font-family: var(--ff-heading);
  font-size: 28px;
  font-weight: normal;
}
.faq__wrap {
  margin: 0 10%;
}
.faq__list {
  display: flex;
  flex-direction: column;
}
.faq__item {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  list-style: none;
}
.faq__item summary::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 60px;
  color: var(--accent, #c16834);
  transition: transform 0.9s, content 0.9s;
}
.faq__item[open] summary::after {
  content: "–";
  top: 0;
}
.faq__item-heading {
  font-family: var(--ff-heading);
  font-size: 22px;
  font-weight: normal;
  line-height: 200%;
  padding: 0;
  list-style: none;
  margin-right: 30px;

  padding-bottom: 20px;
}
.faq__item-desc {
  font-family: var(--ff-description);
  color: var(--description-color-other);
  line-height: 200%;
  width: 90%;
}
.faq__list-img {
  max-width: 450px;
  width: 100%;
}

@media (min-width: 1024px) {
  .faq {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .faq__main {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(100% - 500px);
  }
  .faq__content {
    margin: 0;
  }
  .faq__wrap {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .faq__list {
  }
  .faq__item-heading {
    list-style: none;
    position: relative;
    font-size: 26px;
  }

  .faq__item-desc {
    display: flex;
    flex-shrink: 0;
    word-wrap: break-word;
  }
  .faq__list-img {
    display: flex;
    align-self: flex-start;
  }
}
